*{
    margin: 0px;
}

body{
    background-image: url(luca-bravo-O453M2Liufs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#nav{
    background-color: black;
}

li{
    color: white;
}

#li-btn{
    width: 17%;
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;

}

#main{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#main2{
    padding: 1%;
}

#dropdown{
    background-color: black;

}

#form{
    display: flex;
}



@media screen and (max-width:990px){
    #main{
        display: block;
        padding: 0% 2%;
    }
    #main3{
        background-color: white;
        width: 57px;
        border-radius: 8px;

    }
    #nav-img{
        width: 80%;
    }
}


#li-btn:hover{
    transform: scale(1.2);
    transition: 200ms ease;
    cursor: pointer;
}








#head-main{
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(10%,67%);
    margin: 5% 0% 3% 0%;
}

#heading-cont{
    display: flex;
    justify-content: center;
}
#contact-form{
    display: flex;
    justify-content: center;
    color: black;
    color: darkslategrey;
    font-size: 3rem;
}

#para{
    line-height: 1.9;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    padding: 0% 4%;

}


#grid{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;

}

#grid-item1{
    min-height: 90%;
    width: 35%;
    background-color: #2d1c37;
}
#grid-item2{
    height: 90%;
    border: 2px solid black;
    width: 35%;
    background-color: black;
    color: white;
    padding: 2%;
}

#heading-cont{
    display: flex;
    justify-content: center;
    margin: 2% 0%;
    color: white;
}

#input{
    width: 80%;
    margin: 4% 10%;
    background-color: #2d1c37;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;

}

#button{
    display: flex;
    justify-content: center;
}
#btn{
    width: 22%;
    background-color: darkslategray;
    color: white;
    font-size: larger;
    margin: 0% 0% 2% 0%;
    border-radius: 4px;
    animation-name: btn;
    animation-timing-function: 1s ease;

}

#p-heading{
    font-size: 2rem;
    font-weight: 500;
}


#info{
    display: flex;
}

#p-label{
    display: inline-block;
    padding-left: 15%;

}

#compo{
    width: 30%;
    display: flex;
}

#p-info{
    padding-left: 20%;
    margin: 1% 0% 2% 0%;
    color: bisque;
}
/*                          footer css                                                             */


#footer{
    height: 33vh;
    width: 100%;
    background-color: black;
    filter: contrast(0.5);
}

#footer-ele{
    display: flex;
    justify-content: space-between;
    margin: 0% 38% 0% 38%;
    padding: 3% 0%;
    filter: invert(1);
}

#footer-h4{
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
}

#footer-para{
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    padding: 1% 3rem;
    padding: 1% 3rem 1% 3rem;
    text-align: center;
}

#footer-logo{
    transition: scale 200ms ease;
    cursor: pointer;
}

#footer-logo:hover{
    filter: brightness(0.5);
    scale: 2;
}










#btn:hover{
    width: 25%;
    transition: 200ms ease;
    background-color: white;
    color: black;
}
